<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/DashboardLayout.css"/>
	<link rel="stylesheet" href="~/css/LoginPage.css"/>
</head>
<body>
	<div class="setBody">
		<nav class="sidebar">
			<div class="dashItems">
				<a class="navLinks" asp-controller="User" asp-action="Dashboard">Dashboard</a>
				<a class="navLinks" asp-controller="User" asp-action="CreateUser">Create Account</a>
				<a class="navLinks" asp-controller="User" asp-action="Notifications">Notifications</a>
				<a class="navLinks" asp-controller="User" asp-action="BillingAndPayments">Billing and Payment</a>
				<a class="navLinks" asp-controller="Account" asp-action="AccountManagement">Account Management</a>
				<a class="navLinks" asp-controller="User" asp-action="SecurityAndPrivacy">Security and Privacy</a>
				<a class="navLinks" asp-controller="User" asp-action="Profile">Profile</a>
				@* <a class="navLinks" asp-controller="User" asp-action="Home">Home</a> *@
			</div>
			<div class="signOut">
				<button class="btnRnd1" onclick="logout()">Sign Out</button>
			</div>
		</nav>

		<main class="content">
			@RenderBody()
		</main>
	</div>

	<script>

		function logout(){
			window.location.href = "/User/Logout";
		}
		document.addEventListener("DOMContentLoaded", function() {
			let items = document.querySelectorAll(".navLinks");

			items.forEach(item => {
				item.addEventListener("mouseover", function() {
					this.style.backgroundColor = "#A6B2FF";
				});

				item.addEventListener("mouseout", function() {
					this.style.backgroundColor = "";
				});
			});
		});
	</script>
</body>
</html>