<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/DashboardLayout.css"/>
	<script>
		if(sessionStorage.getItem("isHidden") === "true")
		{
			document.documentElement.classList.add("sidebar-hidden");
		}
	</script>
</head>
<body class="dashboardContentBody">
	<section class="setBody">
		<nav id="sidebarNavigation" class="sidebar">
			<img id="menu" class="menuButton" src="~/ico/menu-icon.png" />
			<div class="dashboardNavigationLinkContainer">

				<a class="dashboardNavigationLinks" asp-controller="User" asp-action="Dashboard">
					<img class="dashboardIcons" src="~/ico/dashboard_img.png" /><span class="typing">Dashboard</span>
				</a>

				<a class="dashboardNavigationLinks" asp-controller="User" asp-action="Notifications">
					<img class="dashboardIcons" src="~/ico/notification.png" /><span class="typing">Notifications</span>
				</a>

				<a class="dashboardNavigationLinks" asp-controller="Transaction" asp-action="BillingAndPayments">
					<img class="dashboardIcons" src="~/ico/bill-and-payment.png" /><span class="typing">Billing and Payment</span>
				</a>

				<a class="dashboardNavigationLinks" asp-controller="Account" asp-action="AccountManagement">
					<img class="dashboardIcons" src="~/ico/account.png" /><span class="typing">Account Management</span>
				</a>

				<a class="dashboardNavigationLinks" asp-controller="Transaction" asp-action="Transactions">
					<img class="dashboardIcons" src="~/ico/transactions.png" /><span class="typing">Transactions</span>
				</a>

				<a class="dashboardNavigationLinks" asp-controller="User" asp-action="SecurityAndPrivacy">
					<img class="dashboardIcons" src="~/ico/security.png" /><span class="typing">Security and Privacy</span>
				</a>

				<a class="dashboardNavigationLinks" asp-controller="User" asp-action="Profile">
					<img class="dashboardIcons" src="~/ico/profile2.png" /><span class="typing">Profile</span>
				</a>
			</div>
			<div class="signOut">
				<a class="dashboardNavigationLinks" asp-controller="User" asp-action="Logout">
					<img class="dashboardIcons" src="~/ico/logout.png" /><span>Logout</span>
				</a>
			</div>
		</nav>

		<main id="showContent" class="content">
			@RenderBody()
		</main>
	</section>

	<script>
		function logout(){
			window.location.href = "/User/Logout";
		}

		window.onload = () => { 
			if(isHidden == sessionStorage.getItem("isHidden") === "true") {
				document.documentElement.classList.add("sidebar-hidden");
			} else {
				document.documentElement.classList.remove("sidebar-hidden");
			}
		}

		document.getElementById("menu").addEventListener("click",function(){
			const hidden = document.documentElement.classList.toggle("sidebar-hidden");
			sessionStorage.setItem("isHidden", hidden ? "true" : "false");
		});

		document.addEventListener("DOMContentLoaded", function() {
			let items = document.querySelectorAll(".dashboardNavigationLinks");

			items.forEach(item => {
				item.addEventListener("mouseover", function() {
					this.style.backgroundColor = "var(--secondary)";
					this.style.color = "var(--dark)";
				});

				item.addEventListener("mouseout", function() {
					this.style.backgroundColor = "";
					this.style.color = "var(--secondary)";
				});
			});
		});
	</script>
</body>
</html>