<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/DashboardLayout.css"/>
	<link rel="stylesheet" href="~/css/LoginPage.css"/>
</head>
<body>
	<div class="setBody">
		<nav class="sidebar">
			<div class="dashboardNavigationLinkContainer">
				<a class="dashboardNavigationLinks" asp-controller="User" asp-action="Dashboard"><img class="paymentItemLogo" src="~/ico/dashboard_img.png"/>Dashboard</a>
				<a class="dashboardNavigationLinks" asp-controller="User" asp-action="Notifications"><img class="paymentItemLogo" src="~/ico/notification.png"/>Notifications</a>
				<a class="dashboardNavigationLinks" asp-controller="Transaction" asp-action="BillingAndPayments"><img class="paymentItemLogo" src="~/ico/bill-and-payment.png"/>Billing and Payment</a>
				<a class="dashboardNavigationLinks" asp-controller="Account" asp-action="AccountManagement"><img class="paymentItemLogo" src="~/ico/account.png"/>Account Management</a>
				<a class="dashboardNavigationLinks" asp-controller="Transaction" asp-action="Transactions"><img class="paymentItemLogo" src="~/ico/transactions.png"/>Transactions</a>
				<a class="dashboardNavigationLinks" asp-controller="User" asp-action="SecurityAndPrivacy"><img class="paymentItemLogo" src="~/ico/security.png"/>Security and Privacy</a>
				<a class="dashboardNavigationLinks" asp-controller="User" asp-action="Profile"><img class="paymentItemLogo" src="~/ico/profile2.png"/>Profile</a>
				@* <a class="navLinks" asp-controller="User" asp-action="Home">Home</a> *@
			</div>
			<div class="signOut">
				<button class="dashboardSignInOutButton" onclick="logout()">Sign Out</button>
			</div>
		</nav>

		<main class="content">
			@RenderBody()
		</main>
	</div>

	<script>
		function logout(){
			window.location.href = "/User/Logout";
		}

		document.addEventListener("DOMContentLoaded", function() {
			let items = document.querySelectorAll(".dashboardNavigationLinks");

			items.forEach(item => {
				item.addEventListener("mouseover", function() {
					this.style.backgroundColor = "var(--secondary)";
					this.style.color = "var(--dark)";
				});

				item.addEventListener("mouseout", function() {
					this.style.backgroundColor = "";
					this.style.color = "var(--secondary)";
				});
			});
		});
	</script>
</body>
</html>