@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Account Management";
}
<head>
    <link rel="stylesheet" href="~/css/Forms.css" />
    <link rel="stylesheet" href="~/css/LoginPage.css" />
</head>
<body class="selectedBody">
    <div>
        <h1>Account Management</h1>
        <hr />
    </div>
    
</body>

