@model Bank2.Models.User
@{
    ViewData["Title"] = "Create User";
}
<html>
<head>
	<title></title>
    <link rel="stylesheet" href="~/css/LoginPage.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Dashboard.css" asp-append-version="true" />
</head>
<body class="createUserProfile">
  <main class="userProfileCreationForm">
    <form asp-action="CreateUserAccount" method="post">
      <h1 class="userProfileMainHeading removeMargin">Create User Profile</h1>
      <section class="userInputContainer">
        <h2 class="userProfileSubHeading">Select Account and Branch</h2>
        <div class="userProfileInnerContainer">
          <div class="userProfileContent">
            <label for="CustomerType">Account Type</label>
            <select class="userInputField" id="CustomerType" asp-for="CustomerType">
              <option selected value="Savings">Personal (Savings)</option>
              <option value="Business">Business</option>
              <option value="Current">Current</option>
              <option value="Merchant">Merchant</option>
            </select>
          </div>

          <div class="userProfileContent">
            <label for="BranchId">Select Branch</label>
            <select class="userInputField" asp-for="BranchId" asp-items="ViewBag.Branches"></select>
          </div>
        </div>
      </section>

      <section class="userInputContainer">
        <h2 class="userProfileSubHeading">Enter Personal Details</h2>
        <div class="userProfileInnerContainer">
          <div class="userProfileContent">
              <label for="Username">Username*</label>
              <input required class="userInputField" type="text" id="Username" asp-for="Username">
          </div>
          <div class="userProfileContent">
              <label for="Password">Password*</label>
              <input required class="userInputField" type="text" id="Password" asp-for="Password">
          </div>
          <div class="userProfileContent">
              <label for="FullName">Full Name</label>
              <input class="userInputField" type="text" id="FullName" asp-for="FullName">
          </div>
          <div class="userProfileContent">
              <label for="Email">Email*</label>
              <input required class="userInputField" type="email" id="Email" asp-for="Email">
          </div>
          <div class="userProfileContent">
              <label for="Phone">Phone</label>
              <input class="userInputField" type="text" id="Phone" asp-for="Phone">
          </div>
          <div class="userProfileContent">
              <label for="Address">Enter Address</label>
              <input class="userInputField" type="text" id="Address" asp-for="Address">
          </div>
          <div class="userProfileContent">
              <label for="PuserContentin">Pincode</label>
              <input class="userInputField" type="text" id="Pin" asp-for="Pin">
          </div>
          <div class="userProfileContent">
              <label for="Job">Job</label>
              <input class="userInputField" type="text" id="Job" asp-for="Job">
          </div>
        </div>
      </section>

      <section id="BusinessDetails" class="userInputContainer" style="display:none">
        <h2 class="userProfileSubHeading">Enter Business Details</h2>
        <div class="userProfileInnerContainer">

          <div class="userProfileContent">
              <label for="BusinessName">Business / Merchant Name</label>
              <input class="userInputField" type="text" id="BusinessName" asp-for="BusinessName">
          </div>

          <div class="userProfileContent">
              <label for="BusinessType">Business Type</label>
              <input class="userInputField" type="text" id="BusinessType" asp-for="BusinessType">
          </div>

          <div class="userProfileContent">
              <label for="TaxId">TaxId</label>
              <input class="userInputField" type="text" id="TaxId" asp-for="TaxId">
          </div>
        </div>
      </section>
      <button id="submitBtn" type="submit" class="dashboardSignInOutButton">Submit</button>
    </form>
    </main>
    
    
    <script>
       document.getElementById("CustomerType").addEventListener("change", function()
       {
           let customerValue = this.value;
           let businessDisplay = document.getElementById("BusinessDetails");

           if(customerValue === "Business" || customerValue === "Merchant") {
                businessDisplay.style.display = "grid";
           }
           else{
               businessDisplay.style.display = "none";
           }
       }
       );
        
       // document.getElementById("submitBtn").addEventListener("click", function()
       // {
       //     let msg = document.getElementById("overlay");
       //     msg.style.display = "flex";

       //     setTimeout(function(){
       //         msg.style.display = "none";
       //         window.location.href = "/User/LoginPage";
       //     },3000)
         
       // }
       // );
    </script>
</body>
</html>