@model Bank2.Models.SharedData
@{
  var Username = Context.Session.GetString("Username");
  var UserId = Context.Session.GetString("UserId");
  ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <link rel="stylesheet" href="~/css/Dashboard.css"/>
</head>
<body class="dashboardContentBody">
  <header class="baseSection">
    <h1 class="removeMargin">Dashboard</h1>
    <h3 class="removeMargin">Change Account <select id="selectedAccount" class="selectFieldDropdown" asp-items="ViewBag.Accounts"></select></h3>
  </header>
  <section id="showTransaction" class="twoColumn"></section>
  <section class="baseSection">
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">Quick Access</legend>
        <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
          <img class="paymentItemLogo" src="~/ico/phone-list.png" alt="itemImage" />
          <h3 class="paymentItemName">Pay Contact</h3>
        </a>
        <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
          <img class="paymentItemLogo" src="~/ico/donation.png" alt="itemImage" />
          <h3 class="paymentItemName">Pay Phone Number</h3>
        </a>
        <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
          <img class="paymentItemLogo" src="~/ico/mobile-recharge.png" alt="itemImage" />
          <h3 class="paymentItemName">Mobile Recharge</h3>
        </a>
        <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
          <img class="paymentItemLogo" src="~/ico/mobile-postpaid.png" alt="itemImage" />
          <h3 class="paymentItemName">Mobile Postpaid</h3>
        </a>
    </fieldset>
  </section>
  <section class="baseSection">
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">Recommended</legend>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/personal_loan.png" alt="itemImage" />
        <h3 class="paymentItemName">Personal Loan</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/apply-for-credit-card.png" alt="itemImage" />
        <h3 class="paymentItemName">Credit Card</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/health-insurance.png" alt="itemImage" />
        <h3 class="paymentItemName">Health Insurance</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/mobile-postpaid.png" alt="itemImage" />
        <h3 class="paymentItemName">Health</h3>
      </a>
    </fieldset>
  </section>
  
  <script>
    if(document.getElementById("selectedAccount").value != null)
    {
      (async () => {
        const accountId = document.getElementById("selectedAccount").value;
        console.log("Selected Account : " + accountId);
        const response = await fetch(`/Transaction/getTransaction?accountId=${accountId}`);
        const transactionHTML = await response.text();
        document.getElementById("showTransaction").innerHTML = transactionHTML;
      })();
    }

    document.getElementById("selectedAccount").addEventListener("change",
      async function() {
        const accountId = document.getElementById("selectedAccount").value;
        console.log("Selected Account : " + accountId);
        const response = await fetch(`/Transaction/getTransaction?accountId=${accountId}`);
        const transactionHTML = await response.text();
        document.getElementById("showTransaction").innerHTML = transactionHTML;
      }
    );
  </script>
</body>
</html>