@model Bank2.Models.User
@{
	var username = Context.Session.GetString("Username");
	var userid = Context.Session.GetInt32("ID");
	ViewData["Title"] = "Login";
}

<html>
<head>
	<title></title>
	<link rel="stylesheet" href="~/css/LoginPage.css" asp-append-version="true" />
</head>
<body class="loginPageBody">
	<form asp-controller="User" asp-action="CheckLogin" method="post">
		<div id="showLoginForm" class="loginAuthenticationContainer" style="display: none">
			<div class="loginAuthenticationForm">
				<div class="loginAuthenticationCloseContainer">
					<h2 class="loginCenterHeading">Login</h2>
					<p id="closeBtn" class="loginCloseButton" asp-action="">X</p>
				</div>
				<div class="loginAuthContents">
					<label for="Username">Username / Email</label>
					<input required class="userInputField" asp-for="Username" type="text" />
				</div>
				<div class="loginAuthContents">
					<label for="Password">Password</label>
					<input required class="userInputField" asp-for="Password" type="password" />
				</div>
				<div class="loginAuthContents">
					<button type="submit" class="authenticationButton">Login</button>
				</div>
				<div class="loginAuthContents">
					<a class="loginItemLinks" asp-action="CreateUser">Create Account.</a><br />
					<a class="loginItemLinks" asp-action="#">Forgot Password.</a>
				</div>
			</div>
		</div>
		<div id="showLoginError" class="loginAuthenticationContainer" style="display:none;">
			<div class="loginAuthenticationForm">
				<h2 class="loginAuthError">Invalid Crednetials <br />Check Username or Password</h2>
			</div>
		</div>
	</form>

	<header>
		<nav class="navigationContainer">
		<h1 class="navIcon">DevBank</h1>
			<ul class="navbarContents">
			<li class="dropdownContainer">
				<a class="navbarItems" asp-action="">Personal</a>
				<ul class="dropdownInNavbar">
					<li class="dropdownContents">
						<h2>Personal Account</h2>
						<a class="dropdownItems" asp-action="">Open Savings Account</a>
						<a class="dropdownItems" asp-action="">Open Current Account</a>
					</li>
					<li class="dropdownContents">
						<h2>Security & Support</h2>
						<a class="dropdownItems" asp-action="">Two Factor Authentication (2FA)</a>
						<a class="dropdownItems" asp-action="">Fraud Protection & Alerts</a>
					</li>
					<li class="dropdownContents">
						<h2>Payment & Transfer</h2>
						<a class="dropdownItems" asp-action="">Bill Payments & Rechargest</a>
						<a class="dropdownItems" asp-action="">Beneficiary Management</a>
					</li>
					<li class="dropdownContents">
						<h2>Investment & Deposit</h2>
						<a class="dropdownItems" asp-action="">Fixed Deposit / Recurring Deposit</a>
						<a class="dropdownItems" asp-action="">Apply for Demat Account</a>
					</li>
				</ul>
			</li>

			<li class="dropdownContainer">
				<a class="navbarItems" asp-action="">Business</a>
				<ul class="dropdownInNavbar">
		 			<li class="dropdownContents">
		 					<h2>Business Account</h2>
		 					<a class="dropdownItems" asp-action="">Open Regular Current Account</a>
		 					<a class="dropdownItems" asp-action="">Open Freelancer Current Account</a>
		 			</li>
		 			<li class="dropdownContents">
		 					<h2>Security & Fraud Prevention</h2>
		 					<a class="dropdownItems" asp-action="">Role-Based Permission</a>
		 					<a class="dropdownItems" asp-action="">Business Fraud Monitoring</a>
		 			</li>
		 			<li class="dropdownContents">
		 					<h2>Payment & Transfer</h2>
		 					<a class="dropdownItems" asp-action="">Bulk Payments & Payroll Processing</a>
		 					<a class="dropdownItems" asp-action="">Vendor & Supplier Payments</a>
		 			</li>
		 			<li class="dropdownContents">
		 					<h2>Specialized Business A/C</h2>
		 					<a class="dropdownItems" asp-action="">Merchant Account</a>
		 					<a class="dropdownItems" asp-action="">Export / Import Account</a>
		 			</li>
		 		</ul>
			</li>

		 	<li class="dropdownContainer">
					<a class="navbarItems" asp-action="">Commercial</a>
					<ul class="dropdownInNavbar">
						<li class="dropdownContents">
		 				<h2>Commercial Account</h2>
		 				<a class="dropdownItems"asp-action="">Open Corporate Current Account</a>
		 				<a class="dropdownItems"asp-action="">Open Corporate Salary Account</a>
		 			</li>
						<li class="dropdownContents">
		 				<h2>Security & Support</h2> 
		 				<a class="dropdownItems"asp-action="">Enterprise-Grade Fraud Protection</a> 
		 				<a class="dropdownItems"asp-action="">Advanced Cybersecurity</a> 
		 			</li>
						<li class="dropdownContents">
							<h2>Payment & Treasury</h2> 
		 				<a class="dropdownItems"asp-action="">Large-Scale Transactions & Payroll</a> 
		 				<a class="dropdownItems"asp-action="">Foreign Exchange & Remittances</a> 
		 			</li>
						<li class="dropdownContents">
							<h2>Foreign Exchange & Trade</h2> 
		 				<a class="dropdownItems"asp-action="">Foreign Currency Account</a> 
		 				<a class="dropdownItems"asp-action="">Export Finance Account</a> 
		 			</li> 
		 		</ul> 
		 	</li>
			<li class="dropdownContainer"><a class="navbarItems" asp-action="">Services</a></li>
			<li class="dropdownContainer"><a class="navbarItems" asp-action=""><b>Contact Us</b></a></li>
		</ul>
		<div>
				<a id="navbarLoginBtn" class="navbarLoginButton">Login</a>

			<select id="logoutBtn" class="userInputField" style="display: none" onchange="handleSelect(this)">
				<option hidden id="user" selected></option>
				<option value="/User/Dashboard"><a>Dashboard</a></option>
				<option value="/Transaction/Payment"><a>Profile</a></option>
				<option value="/User/Transactions"><a>Transactions</a></option>
				<option value="/User/Logout"><a>Logout</a></option>
			</select>
		</div>
	</nav>
	</header>

	<section class="heroSection">
		<p class="introItems">A Bank Trusted By</p>
		<p class="introItems"> More Than <b>10 Million</b> Users.</p>
		<p class="introItems">Its not we who speak, but out millions of customers.</p>
		<a asp-action="CreateUser" class="createAccountButton createUser" style="display: flex;">Create Account</a>
		<a asp-action="Dashboard" class="createAccountButton goToDashboard" style="display: none;">Dashboard</a>

	</section> 

	<section class="dashboardImageDisplay">
		<img src="~/rsc/phobe.png" alt="Alternate Text" />
		<p>Manage your <b>Finance</b> with our easy to use <b>Dashboard</b></p>
	</section>

	<section class="featuresSection">
		<div class="featureContents">
			<p class="featureItemHeading"><b>Digital Banking</b> in<br />your hand.</p>
			<p class="featureItemText">
				Now access and manage your accounts without coming to bank.<br />
				Get easy access to all your needs on our web app.
			</p>
			<a asp-action="" class="learnMoreButton">Learn More</a>
		</div>
		<div class="featureContents">
			<img class="featureItemImages" src="~/rsc/ss.png" alt="Alternate Text" />
		</div>
	</section>

	<section class="featuresSection">
		<div class="featureContents">
			<p class="featureItemHeading">Select the <b>Card</b> of<br />your choice.</p>
			<p class="featureItemText">
				Now access and manage your accounts without coming to bank.<br />
				Get easy access to all your needs on our web app.
			</p>
			<a asp-action="" class="learnMoreButton">Learn More</a>
		</div>
		<div class="featureContents">
			<img class="featureItemImages" src="~/rsc/ss.png" alt="Alternate Text" />
		</div>
	</section>

	<section class="featuresSection">
		<div class="featureContents">
			<p class="featureItemHeading">No fee, <b>hassle-free.</b></p>
			<p class="featureItemText">
				No minimum balance. No monthly fees. No foreign transaction fees.<br />
				Open an account now for free.
			</p>
			<div class="featureSectionButtons">
				<a asp-action="" class="learnMoreButton">Learn More</a>
				<a asp-action="CreateUser" class="createAccountButton createUser" style="display: flex;">Create Account</a>
				<a asp-action="Dashboard" class="createAccountButton goToDashboard" style="display: none;">Dashboard</a>
			</div>
		</div>
		<div class="featureContents">
			<img class="featureItemImages" src="~/rsc/ss.png" alt="Alternate Text" />
		</div>
	</section>

	<script>
		const StatusError = "@TempData["Error"]";
		const Username = "@Context.Session.GetString("Username")";
		const createUserButton = document.querySelectorAll(".createUser");
		const goToDashboardButton = document.querySelectorAll(".goToDashboard");
		const loginForm = document.getElementById("showLoginForm");
		const loginError = document.getElementById("showLoginError");
		const display = document.querySelector(".loginPageBody");
		const loginBtn = document.getElementById("navbarLoginBtn");
		const logoutBtn = document.getElementById("logoutBtn");
		const user = document.getElementById("user");

		//Navitgate to selected Webpage and reset the value to Username
		function handleSelect(select){
			if(select.value == "/User/Logout"){
				window.location.href = select.value;
			}
			else{
				window.location.href = select.value;
				logoutBtn.selectedIndex = 0;
			}
		}

		//Display Error when login fails
		if(StatusError == "error"){
				loginForm.style.display = "none";
				loginError.style.display = "flex";
				setTimeout(() => {
					loginForm.style.display = "flex";
					loginError.style.display = "none";
				},2000);
		}

		//Opens Login Box
		document.getElementById("navbarLoginBtn").addEventListener("click", function(event)
		{
			event.preventDefault();
			loginForm.style.display = "flex";
			display.style.overflow = "hidden";
		});

		document.getElementById("closeBtn").addEventListener("click", function(){
			loginForm.style.display = "none";
			display.style.overflow = "";
		});
		//Set username once login verified
		if(Username && Username.trim().toLowerCase() !== null)
		{
			createUserButton.forEach (button => {button.style.display = "none"});
			goToDashboardButton.forEach (button => {button.style.display = "flex"});
			loginBtn.style.display = "none";
			logoutBtn.style.display = "block";
			user.innerText = Username;
		}

	</script>
</body>
</html>