@model Bank2.Models.User
@{
    ViewData["Title"] = "Notifications";
}
<head>
  <link rel="stylesheet" href="~/css/Dashboard.css" />
</head>

<body class="dashboardContentBody">
  <header class="baseSection">
    <h1 class="removeMargin dashboardMainHeading">Notifications</h1>
  </header>
</body>
