@model Bank2.Models.User
@{
    ViewData["Title"] = "Profile";
}
<head>
  <link rel="stylesheet" href="~/css/Dashboard.css" />
</head>

<body class="dashboardContentBody">
  <header class="baseSection">
    <h1 class="removeMargin dashboardMainHeading">Profile</h1>
  </header>
  <section class="baseSection">
    <form asp-action="UpdateProfile" method="post">
      <div class="profileOuterContainer">
        <div class="profileInnerContainer">
          <div class="profileContentsContainer">
          <h2>Personal Info</h2>

            <div class="profileInputContainer">
              <label for="Username">Username</label>
              <input class="profileUserInput" type="text" id="Username" asp-for="Username">
            </div>

            <div class="profileInputContainer">
              <label for="FullName">Full Name</label>
              <input class="profileUserInput" type="text" id="FullName" asp-for="FullName">
            </div>

            <div class="profileInputContainer">
              <label for="Job">Job</label>
              <input class="profileUserInput" type="text" id="Job" asp-for="Job">
            </div>
          </div>

          <div class="profileContentsContainer">
          <h2>Contact Info</h2>

            <div class="profileInputContainer">
              <label for="Email">Email</label>
              <input class="profileUserInput" type="email" id="Email" asp-for="Email">
            </div>

            <div class="profileInputContainer">
              <label for="Phone">Phone</label>
              <input class="profileUserInput" type="text" id="Phone" asp-for="Phone">
            </div>
          </div>

          <div class="profileContentsContainer">
          <h2>Address Info</h2>

            <div class="profileInputContainer">
              <label for="Address">Address</label>
              <input class="profileUserInput" type="text" id="Address" asp-for="Address">
            </div>

            <div class="profileInputContainer">
              <label for="Pin">Pincode</label>
              <input class="profileUserInput" type="text" id="Pin" asp-for="Pin">
            </div>
          </div>
        </div>

        <div class="profileInnerGridContainer">
          <div class="profileInnerContainer">
            <div class="profileContentsContainer">
            <h2>Business Info</h2>

              <div class="profileInputContainer">
                <label for="BusinessName">Business Name</label>
                <input class="profileUserInput" type="text" id="BusinessName" asp-for="BusinessName">
              </div>

              <div class="profileInputContainer">
                <label for="BusinessType">Business Type</label>
                <input class="profileUserInput" type="text" id="BusinessType" asp-for="BusinessType">
              </div>

              <div class="profileInputContainer">
                <label for="TaxId">TaxId</label>
                <input class="profileUserInput" type="text" id="TaxId" asp-for="TaxId">
              </div>
            </div>
          </div>
          <div class="profileInnerContainer">
            <div class="profileContentsContainer">
            <h2 class="">Update Password</h2>

              <div class="profileInputContainer">
                <label for="OldPassword">Old Password</label>
                <input class="profileUserInput" type="password" id="OldPassword" asp-for="OldPassword">
              </div>
              <div class="profileInputContainer">
                <label for="newPassword">New Password</label>
                <input class="profileUserInput" type="password" id="newPassword" asp-for="Password">
              </div>
            </div>
          </div>
        <div>
          <h3>Overrite over the details, make sure all the information is correct before updating!</h3>
          <button type="submit" class="updateBtn">Update Profile</button>
        </div>
        </div>
      </div>
    </form>
  </section>
  <section class="baseSection">
    <h2 class="userProfileSubHeading removeMargin">Delete Profile Section</h2>
    <p class="warningText">
      Deleting your profile will permanently remove all your data.
      This action cannot be undone. Please proceed with caution.
    </p>

    @* <form asp-action="" method="post"> *@
      <button id="delete" type="submit" class="deleteBtn">Delete My Profile</button>
    @* </form> *@
  </section>
  <div class="profileChangeContainer">
    <div id="confirm" class="deleteConfirm">
      <p class="warningText">
        You are permanantely deleting your profile.
        This action cannot be undone.
        <form asp-action="DeleteProfile" method="post">
          <button type="submit" class="deleteBtn">Delete Confirm</button>
        </form>
        <button id="cancel" type="submit" class="updateBtn">Cancel</button>
      </p>
    </div>
  </div>
  <script>
    const deleted = document.getElementById("delete");
    const cancel = document.getElementById("cancel");
    const confirm = document.getElementById("confirm");

    document.getElementById("delete").addEventListener("click",function(){
      console.log("funcion delete called");
      confirm.style.opacity = "1";
      confirm.style.pointerEvents = "auto";
    });

    document.getElementById("cancel").addEventListener("click",function (){
      console.log("funcion confirm called");
      confirm.style.opacity = "0";
      confirm.style.pointerEvents = "none";
    });
  </script>
</body>