@model Bank2.Models.User
@{
    ViewData["Title"] = "Profile";
}
<head>
  <link rel="stylesheet" href="~/css/Dashboard.css" />
</head>

<body class="dashboardContentBody">
  <header class="baseSection">
    <h1 class="removeMargin dashboardMainHeading">Profile</h1>
  </header>
  <section class="baseSection">
    <form asp-action="EditAccount" method="post">
      <div class="profileOuterContainer">

        <div class="profileInnerContainer">
          <div class="profileContentsContainer">
          <h2>Personal Info</h2>
            <div class="profileInputContainer">
              <label for="Username">Username</label>
              <input class="profileUserInput" type="text" id="Username" asp-for="Username">
            </div>

            <div class="profileInputContainer">
              <label for="FullName">Full Name</label>
              <input class="profileUserInput" type="text" id="FullName" asp-for="FullName">
            </div>

            <div class="profileInputContainer">
              <label for="Job">Job</label>
              <input class="profileUserInput" type="text" id="Job" asp-for="Job">
            </div>
          </div>

          <div class="profileContentsContainer">
          <h2>Contact Info</h2>
            <div class="profileInputContainer">
              <label for="Email">Email</label>
              <input class="profileUserInput" type="email" id="Email" asp-for="Email">
            </div>

            <div class="profileInputContainer">
              <label for="Phone">Phone</label>
              <input class="profileUserInput" type="text" id="Phone" asp-for="Phone">
            </div>
          </div>

          <div class="profileContentsContainer">
          <h2>Address Info</h2>
            <div class="profileInputContainer">
              <label for="Address">Address</label>
              <input class="profileUserInput" type="text" id="Address" asp-for="Address">
            </div>

            <div class="profileInputContainer">
              <label for="Pin">Pincode</label>
              <input class="profileUserInput" type="text" id="Pin" asp-for="Pin">
            </div>
          </div>
        </div>

        <div class="profileInnerContainer">
          <div class="profileContentsContainer">
          <h2>Business Info</h2>
            <div class="profileInputContainer">
              <label for="BusinessName">Business Name</label>
              <input class="profileUserInput" type="text" id="BusinessName" asp-for="BusinessName">
            </div>

            <div class="profileInputContainer">
              <label for="BusinessType">Business Type</label>
              <input class="profileUserInput" type="text" id="BusinessType" asp-for="BusinessType">
            </div>

            <div class="profileInputContainer">
              <label for="TaxId">TaxId</label>
              <input class="profileUserInput" type="text" id="TaxId" asp-for="TaxId">
            </div>
            <div class="">
              <button type="submit" class="updateBtn frmPad">Update</button>
              <button asp-action="Transactions" class="deleteBtn frmPad">Delete Profile</button>
            </div>
          </div>
        </div>

        <div class="profileInnerContainer">
          <div class="profileContentsContainer">
            <h2 class="">Update Password</h2>
            <div class="profileInputContainer">
              <label for="BusinessName">Old Password</label>
              <input class="profileUserInput" type="password" id="BusinessName" asp-for="Password">
            </div>
            <div class="profileInputContainer">
              <label for="BusinessType">New Password</label>
              <input class="profileUserInput" type="password" id="BusinessType" asp-for="Password">
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <script>
  </script>
</body>