@{
    ViewData["Title"] = "Profile";
}
<head>
  <link rel="stylesheet" href="~/css/Dashboard.css" />
</head>

<body class="dashboardContentBody">
  <header class="baseSection">
    <h1 class="removeMargin dashboardMainHeading">Profile</h1>
  </header>
</body>