@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Billing and Payment";
}
<head>
    <link rel="stylesheet" href="~/css/LoginPage.css" />
    <link rel="stylesheet" href="~/css/Dashboard.css" />
</head>

<body class="dashboardBody">
  <header class="baseSection">
    <h1 class="removeMargin">Billing and Payments</h1>
  </header>

  <section class="paymentContainer">
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">Bank and Transfer</legend>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/bank.png" alt="itemImage" />
        <h3 class="paymentItemName">Bank Transfer</h3> 
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/contact-book.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay<br />Contact</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/self-transfer.png" alt="itemImage" />
        <h3 class="paymentItemName">Self<br /> Transfer</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/donation.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Phone Number</h3>
      </a>
    </fieldset>                 
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">Payments</legend>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/bank.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Merchant</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/contact-book.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay<br />Contact</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/self-transfer.png" alt="itemImage" />
        <h3 class="paymentItemName">Self<br /> Transfer</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/donation.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Phone Number</h3>
      </a>
    </fieldset>
  </section>

  <section class="paymentContainer">
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">Bills and Recharges</legend>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/bank.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Merchant</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/contact-book.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay<br />Contact</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/self-transfer.png" alt="itemImage" />
        <h3 class="paymentItemName">Self<br /> Transfer</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/donation.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Phone Number</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/bank.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Merchant</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/contact-book.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay<br />Contact</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/self-transfer.png" alt="itemImage" />
        <h3 class="paymentItemName">Self<br /> Transfer</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/donation.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Phone Number</h3>
      </a>
    </fieldset>
  </section>
</body>
