@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Billing and Payment";
}
<head>
    <link rel="stylesheet" href="~/css/LoginPage.css" />
    <link rel="stylesheet" href="~/css/Dashboard.css" />
</head>

<body class="dashboardBody">
  <header class="baseSection">
    <h1 class="removeMargin">Billing and Payments</h1>
  </header>

  <section class="paymentContainer">
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">Bank and Transfer</legend>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/bank.png" alt="itemImage" />
        <h3 class="paymentItemName">Bank Transfer</h3> 
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/credit-card.png" alt="itemImage" />
        <h3 class="paymentItemName">Card Transfer</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/self-transfer.png" alt="itemImage" />
        <h3 class="paymentItemName">Self Transfer</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/changing.png" alt="itemImage" />
        <h3 class="paymentItemName">UPI Transfer</h3>
      </a>
    </fieldset>                 
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">Payments</legend>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/pay-merchant.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Merchant</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/contact-book.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Contact</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/pay-credit-card.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Credit Card</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/donation.png" alt="itemImage" />
        <h3 class="paymentItemName">Pay Phone Number</h3>
      </a>
    </fieldset>
  </section>

  <section class="paymentContainer">
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">Bills and Recharges</legend>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/light-bulb.png" alt="itemImage" />
        <h3 class="paymentItemName">Electricity</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/gas-tank.png" alt="itemImage" />
        <h3 class="paymentItemName">Gas Bill</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/water-tap.png" alt="itemImage" />
        <h3 class="paymentItemName">Water Bill</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/mobile-recharge.png" alt="itemImage" />
        <h3 class="paymentItemName">Mobile Recharge</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/mobile-postpaid.png" alt="itemImage" />
        <h3 class="paymentItemName">Mobile Postpaid</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/router-ethick.png" alt="itemImage" />
        <h3 class="paymentItemName">Broadband / Landline</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/smart-tv-ex.png" alt="itemImage" />
        <h3 class="paymentItemName">DTH / Cable TV</h3>
      </a>
    </fieldset>
  </section>
  <section class="paymentContainer">
    <fieldset class="paymentsContents">
      <legend class="paymentLegend">For You</legend>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/netflix.png" alt="itemImage" />
        <h3 class="paymentItemName">Netflix</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/spotify.png" alt="itemImage" />
        <h3 class="paymentItemName">Spotify</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/apple-music.png" alt="itemImage" />
        <h3 class="paymentItemName">Apple Music</h3>
      </a>
      <a class="paymentItem" asp-for="" asp-controller="Transaction" asp-action="Payment">
        <img class="paymentItemLogo" src="~/ico/soundcloud.png" alt="itemImage" />
        <h3 class="paymentItemName">Soundcloud</h3>
      </a>
    </fieldset>
  </section>
</body>
