@import url("LoginPage.css");
/* Global Elements Change */
table {
    display: flex;
    flex-direction: column;
    padding: var(--px16);
    border: 2px solid black;
    border-radius: var(--px8);
    box-sizing: border-box;
}

tr {
    display: flex;
    flex-grow: 1;
    height: var(--px32);
}

th {
    flex: 1;
    text-align: left;
}

thead {
    border-bottom: 1px solid black;
}


td {
    margin-top: var(--px8);
    flex: 1;
    text-align: left;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Global Custom Classes */

.dashboardContentBody {
  margin: 0px;
  padding: 0px;
}

.baseSection {
    border-radius: var(--px16);
    margin: var(--px8);
    padding: var(--px16);
    background-color: var(--secondary);
}

.buttonSquare {
    margin: var(--px4) 0px;
    padding: var(--px8);
    width: var(--px200);
    border: 1px solid;
    border-radius: var(--px4);
    font-weight: var(--semiBold);
}

.textInput {
    margin: var(--px4) 0px;
    padding: var(--px2);
    width: var(--px200);
    border: 1px solid;
    border-radius: var(--px4);
    font-weight: var(--semiBold);
}

.selectFieldDropdown {
    margin: var(--px4) 0px;
    padding: var(--px2);
    width: var(--px200);
    border: 1px solid;
    border-radius: var(--px4);
    font-weight: var(--semiBold);
}

.dashboardSectionHeading {
    max-width: fit-content;
    border-right: var(--px4) solid black;
    border-radius: var(--px4);
    margin-top: 0px;
    margin-bottom: var(--px8);
    padding-right: var(--px8);
}

/* DashBoard */

.twoColumn{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.bankAccountCard {
  display: flex;
  flex-direction: column;
  margin: var(--px16) 0px;
  padding: var(--px8);
  text-align: left;
  border-radius: var(--px16);
  color: white;
  max-width: var(--px400);
  max-height: var(--px200);
  background: linear-gradient(15deg,var(--black13), var(--black38));
  box-shadow: var(--black38) 0px 0px var(--px8) 0px;
}

.bankCardContents{
  padding: 0px var(--px8);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-weight: var(--semiBold);
}

.bankCardBalance{
  padding-right: var(--px8);
  margin: 0px;
  font-size: var(--mainHead);
  font-weight: var(--bold);
  text-align: end;
}
/* -- Account Management -- */

.accountManagement{
    display: flex;
    flex-direction: column;
}

.smallSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid black;
}

.bigSection h3 {
    margin: 0px 0px var(--px4) 0px;
    padding-bottom: var(--px8);
    border-bottom: var(--px2) solid black;
}

.sectionContent{
    margin: var(--px8) 0px;
    padding: 0px;
}


/* -- Bills and Payments -- */

.paymentContainer{
    display: flex;
    flex-wrap: wrap;
}

.paymentsContents {
    flex: 1;
    display: flex;
    gap: var(--px32);
    align-items: center;
    background-color: var(--secondary);
    border: 1px solid gray;
    border-radius: var(--px16);
    margin: var(--px8);
    padding: var(--px16);
}

.paymentLegend {
  padding: 0px var(--px8);
  border: 1px gray solid;
  border-radius: var(--px8);
  background-color: var(--secondary);
  font-size: var(--subHead3);
  font-weight: var(--semiBold);
}
.paymentItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  height: var(--px120);
  background-color: var(--primary);
  border: 1px solid lightgray;
  border-radius: var(--px16);
  text-align: center;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-decoration: none;
}

.paymentItemLogo {
  padding: var(--px8) 0px;
  width: var(--px40);
  margin: 0px;
  box-sizing: border-box;
}

.paymentItemName {
  font-weight: var(--semiBold);
  text-decoration: none;
  margin: var(--px8)var(--px8);
}

.paymentItem:hover {
    background-color: var(--primary);
    box-shadow: var(--shade) 0px 0px var(--px8) 1px ;
}

/* Payment Page */

.paymentForm{
    max-width: var(--px280);
    padding: var(--px8);
    border: var(--px2) solid black;
    border-radius: var(--px16);
    display: flex;
    flex-direction: column;
}

/* Security and Privacy */



